<section id="contenido-sistema">


	
	<%= form_tag({:id => "for-sesio", :controller => "iniciar_sesion", :action => "introducirClave"}, :method => "get") do %>
<div id="contenido-filtro"><div>
		<%= select_tag(:filtro,  options_for_select(
				  [	
				  	['Actuales', 0],
				    ['Estado', 1],
				    ['Codigo', 2],
				    ['Fecha', 3],
				    ['Area', 4],
				    ['Tipo', 5]
				  ], 0
				), :onChange => "Habilitar()") %>
			<%= select_tag(:actuales,  options_for_select(
					  [	
					  	['Abiertos', 0],
					    ['Cerrados', 1]
					  ], 0
					)) %>

			<%= select_tag(:estado,  options_for_select(
					  [	
					  	['Inscripción', 0],
					    ['Evaluación', 1],
					    ['Reformulación', 2],
					    ['Aprobado', 3]
					  ], 0
					)) %>
			<%= text_field_tag "textCodigo", "",  :placeholder => "Codigo", :required => "required", :id => "codigo", :type => "text"%>
			<%= text_field_tag "textDesde", "",  :placeholder => "Desde", :required => "required", :id => "desde", :type => "date"%>
			<%= text_field_tag "textHasta", "",  :placeholder => "Hasta", :required => "required", :id => "hasta", :type => "date"%>
			<%= select_tag(:area,  options_for_select(
				  [	
				
				    ['Lisbon', 1, { 'data-size' => '2.8 million' }],
				    ['Madrid', 2, { 'data-size' => '3.2 million' }]
				  ], 0
				)) %>
				<%= select_tag(:tipo,  options_for_select(
				  [	
				    ['A', 1],
				    ['B', 2],
				    ['C', 3],
				    ['D', 4],
				    ['E', 5]
				  ], 0
				)) %>

		<%= submit_tag "Ir", :id => "boton-inicio" %></div>
</div>
	<%end%>

	


<div id="contenido-proyecto">
	<div id="estado-proyecto">
		<div id=contenido-proceso>
			<% for i in 0..5 
			if i==3 %>
				<div id="estado-actual"></div>
			<% else %>
				<div id="estado-proceso"></div>
			<% end
		end %>
		</div>
		<h3 id="estado-text">Reformular</h3>
	</div>
	<div id="informacion-proyecto">
		<h2 id="titulo-proyecto">Titulo del proyecto de investigacion que se lleva a cabo</h2>
		<div id="rol-usuario">Cod-proyecto</div>
		<div id="ver-proyecto">
			<%= link_to "Ver Contenido", :controller => "proyecto", :action => "ver", :id => "ver-proyecto"%>
		</div>
	</div>
</div>
<div id="contenido-proyecto">
	<div id="estado-proyecto">
		<div id=contenido-proceso>
			<div>Evaluar antes de:</div>
		</div>
		<h3 id="estado-text">5 Dias</h3>
	</div>
	<div id="informacion-proyecto">
		<h2 id="titulo-proyecto">Titulo del proyecto de investigacion que se lleva a cabo</h2>
		<div id="rol-usuario">Cod-proyecto</div>
		<div id="ver-proyecto">
			<%= link_to "Ver Contenido", :controller => "proyecto", :action => "ver", :id => "ver-proyecto"%>
		</div>
	</div>
</div>
<div id="contenido-proyecto">
	<div id="estado-proyecto">
		<div id=contenido-proceso>
			<div>Evaluar antes de:</div>
		</div>
		<h3 id="estado-text">13 Dias</h3>
	</div>
	<div id="informacion-proyecto">
		<h2 id="titulo-proyecto">Titulo del proyecto de investigacion que se lleva a cabo</h2>
		<div id="rol-usuario">Cod-proyecto</div>
		<div id="ver-proyecto">
			<%= link_to "Ver Contenido", :controller => "proyecto", :action => "ver", :id => "ver-proyecto"%>
		</div>
	</div>
</div>
</section>
