<section id="contenido-home">
<div id="imgPorta">
	<section class="porta">
		<%= image_tag "p1.JPG", :class=> "imagen-opcion" %>
		<div>
			<h3>Mision</h3> 
			<h4>conadjsflasdj falsdjfañlsdfjañlsdfj añlsdfk</h4>
		</div>
	</section>
	<section class="porta">
		<%= image_tag "p1.JPG", :class=> "imagen-opcion" %>
		<div>
			<h3>Visión</h3>
			<h4>conadjsflasdjfal sdjfañlsdfjañ lsdfjañlsdfk</h4>
		</div>
	</section>
	<section class="porta">
		<%= image_tag "p1.JPG", :class=> "imagen-opcion" %>
		<div>
			<h3>OBjetivos</h3>
			<h4>conadjsflasdjfalsdj fañlsdfjañlsd fjañlsdfk</h4>
		</div>
	</section>
	<section class="porta">
		<%= image_tag "p1.JPG", :class=> "imagen-opcion" %>
		<div>
			<h3>Atribuciones</h3>
			<h4>conadjsflasdjf alsdjfañls dfjañlsdfjañlsdfk</h4>
		</div>
	</section>
	<section class="porta">
		<%= image_tag "p1.JPG", :class=> "imagen-opcion" %>
		<div>
			<h3>Organigrama del consejo</h3>
			<h4>conadjsfl asdjfalsdjfañl sdfjañlsdfj añlsdfk</h4>
		</div>
	</section>
	<section class="porta">
		<%= image_tag "p1.JPG", :class=> "imagen-opcion" %>
		<div>
			<h3>Organigrama Administrativo</h3>
			<h4>cona djsflasdjfalsdj fañlsdfjañlsdfj añlsdfk</h4>
		</div>
	</section>

</div>
</section>