<section id="contenido-sesion">
	<div id="sesion">
		<%= form_tag({:id=>"for-sesion", :controller => "sistema", :action => "inicio"}, :method => "get") do %>
			<h1 id="text-sesion">Entrar al Sistema</h1>
			<div id="contenido-mensaje">
				<div id="mensaje-sesion"><%= $mensaje %></div>
			</div>
			
				<%= text_field_tag "textClavee", "",  :placeholder => "Clave", :required => "required", :id => "dato-sesion", :type => "password"%>
				<%= text_field_tag "textRepetirC", "",  :placeholder => "Clave", :required => "required", :id => "clave-sesion", :type => "password"%>
			
				<%= submit_tag "Guardar", :id => "boton-sesion" %>
		<%end%>
	</div>
</sectionula.html.erb</p>