<section id="contenido-sesion">
	<div id="sesion">
		<%= form_tag({:id=>"for-sesion", :controller => "sistema", :action => "inicio"}, :method => "get") do %>
			<h1 id="text-sesion">Entrar al Sistema</h1>
			<div id="contenido-mensaje">
				<div id="mensaje-sesion"><%= @mensaje %></div>
			</div>
			
			<%= text_field_tag "textClave", "",  :placeholder => "Clave", :required => "required", :id => "dato-sesion", :type => "password"%>
			
			<%= submit_tag "Siguiente", :id => "boton-sesion" %>

			<div id="contenido-cancelar">
				<%= link_to "Recuperar Contraseña", :controller => "iniciar_sesion", :action => "introducirCodigo", :id => "cancelar-sesion"%>
			</div>
		<%end%>
	</div>
</sectionula.html.erb</p>